@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html{
    height:100%;
}

body{
    background-color: rgb(221, 241, 253);
    height: 100%;
}
.img1{
    display: block;
    width: 100%;
}
.signup{
    background-color: rgb(140, 48, 245);
    border: 0em;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    color: white;
    margin: 0px 25px;
}
.img2 {
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1cm;
    width: 75%;
    
    height: 42%;
    padding: 1.5em;
    display: flex;
    vertical-align: middle;
    justify-content: space-evenly;
    
}
h1{
    text-align: center;
    margin-top: 1cm;
}
.img3 {
    background-repeat: no-repeat;
    width: 100%;
    bottom: 0;
    height: 20%;
    position: absolute;
}

.header{
    background-color: #3A8AAD;
    display: flex;
    justify-content: flex-end;
    flex: auto;
    width: 100%;
    padding: 1em;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 3.5em;
}

.text-input{
    border-radius: 10% 0% 0% 10% / 50% 0% 0% 50%  ;
    padding: 1.3em 0.75em;
    height: 2em;
    border: none;


}
.text-input:focus{
    border: none;
    border-color: none;
}

.button-join{
    background-color: rgb(140, 48, 245);
    border: 0em;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    color: white;
    border-radius: 0% 10% 10% 0% / 0% 50% 50% 0%  ;
    
}
.login{
    background-color: rgb(140, 48, 245) ;
    border: 0ch;
    color: white;
    margin: 0px 25px;
    height: 1cm;
    width: 2cm;
    border-radius: 10px;
}